p{color:  rgb(241, 19, 193); font-size: 45px; font-family: 'Open Sans', sans-serif;
    font-family: 'Rancho', cursive;}



h1{color: rgb(241, 19, 193);font-size: 150px; font-family: 'Open Sans', sans-serif;
    font-family: 'Rancho', cursive;}

h2{
    
}
    

