p{color:  rgb(236, 16, 53); font-size: 60px; font-family: 'Open Sans', sans-serif;
    font-family: 'Rancho', cursive;}



h1{color: rgb(236, 16, 53);font-size: 150px; font-family: 'Open Sans', sans-serif;
    font-family: 'Rancho', cursive;}

h2{
    color: rgb(3, 3, 3);font-size: 50px; font-family: 'Open Sans', sans-serif;
    font-family: 'Rancho', cursive;
}

h3{
    color: rgb(9, 241, 40);font-size: 50px; font-family: 'Open Sans', sans-serif;
    font-family: 'Rancho', cursive;

}



body{
    background-image: url(patitas.jpg);
}

ul{
    color: rgb(236, 16, 53);font-size: 50px; font-family: 'Open Sans', sans-serif;
    font-family: 'Rancho', cursive;
}
li{
    color: rgb(236, 16, 53);font-size: 50px; font-family: 'Open Sans', sans-serif;
    font-family: 'Rancho', cursive;
}
a{
    color: rgb(236, 16, 53);font-size: 50px; font-family: 'Open Sans', sans-serif;
    font-family: 'Rancho', cursive;
}
    
    

